name: Run Tests

on: [pull_request]

jobs:
  testing-on-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '12', '14' ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn

      - run: npx lerna run test --stream

      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

